<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<head>
	<title>云服务</title>
</head>
<body>
	<div id="app">
		<!-- <x-header :left-options="{showBack: false}">云服务</x-header>

		<div class="wrapper">
	        <div class="content">
	        	<a :href="item.path" v-for="(item, index) in cloud_config" v-if="cloud_config" :key="index">
		            <group :gutter="15">
			            <cell is-link>
			                <span slot="title" style="color:#222;"><span style="vertical-align:middle;" v-text="item.name"></span></span>
			            </cell>
		            </group>
	           	</a>
	        </div>
	    </div> -->

	</div>

	<script type="text/javascript" src="/dist/cloud.js"></script>
</body>
</html>